/*изменение текста под грид контейнером*/
.text_album{
	padding: 15px;
	font-size: 16px;
	color: black;
}
.text_album a:hover{
}
.line_albom{
	padding: 10px;
}
.line_albom_background{
	background: #000;
}
.line_albom:hover{
	border: 2px solid rgba(0,136,169);
}
/*создание грид контейнеров*/
.grid{
	display: grid;
}
.album_pf{
	padding: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
.item_album{
	min-height: 32vh;
	background-size: cover;
	background-position: center;
}
.item_album:hover /*.bloclmg img*/{
	opacity: .6;
}
