*{
	box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
a:link{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}
#main{
	background-color: white;
	display: flex;
	flex-direction: column;
}
body{
	font-family: Verdana, Arial, Sans-Serif;
}
#header{
	background-color: rgb(209,100,120);
	background-image: -webkit-linear-gradient(left, rgb(209,196,233), rgb(255, 255, 255));
}
#header h1{

	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 30px 0px 30px 0px;
	clear: both;
}
#nav{
	display: flex;
	flex-direction:0 1 200px;
	background-image: -webkit-linear-gradient(right, rgb(209,196,233), rgb(255, 255, 255));
	border-top: 1px solid rgb(209,100,120);
	border-bottom: 1px solid rgb(209,100,120);
	border-top: 3px solid rgb(209,100,120);
	border-bottom: 3px solid rgb(209,100,120);
}
#nav li{
	float: left;
	list-style: none;
}
#nav a{
	font-weight: bold;
	display: block;
	color: black;
	padding: 10px 50px;
	text-decoration: none;
}
#nav li:last-child a:hover{
	border-right: none;
}
#nav li:first-child a:hover{
	border-left: none;
}
#nav a:hover{
	font-weight: bold;
	border-left: 3px solid rgb(209,100,120);
	border-right: 3px solid rgb(209,100,120);
}
#nav:after{
	content:" ";
	display: table;
	clear: both;
}
.wrapper{
	background-color: rgba(255,255,255, 0.5);
	height: 100%;
}
.aside h2{
	font-size: 0.95em;
	margin-top: 15px;
}
.aside h3{
	font-size: 0.85em;
	margin-top: 10px;
}
.aside p, .aside li{
	font-size: 0.75em;
	margin-top: 10px;
}
.aside li{
	list-style-type: none;
}
#sidebar1{
	float: left;
	width: 20%;
	padding: 1em 1em 1em 1em;
}
#sidebar1 li{
	padding-top: 2em;
	border-bottom: 3px solid rgb(209,196,233);
}
#sidebar1 li a{
	font-size: 15px;
	color: black;
}
#sidebar1 li:hover{

}
#sidebar2{
	float: right;
	width: 20%;
	padding: 0 20px 0 10px;
}
#sidebar2 li{
	padding-top: 2em;
	border-bottom: 3px solid rgb(209,100,120);
}
#sidebar2 li a{
	font-size: 15px;
	color: black;

}
#sidebar2 li:hover{
	font-weight: bold;
}
#sidebar2 img{
	margin-top: 10px;
}
#article{
	background-color: rgba(255, 255, 255, 0.7);
	border-left: 6px solid rgb(209,100,120);
	border-right: 6px solid rgb(209,100,120);
	margin-left: 20%;
	margin-right: 20%;
	padding: 15px;
	width: 60%;
	height: 100%;
}
#infosite{
	background-color: white;
	margin: 1em;
	padding: 1em;
	border-style: circle;
	border: 3px solid rgb(209,100,120);
}
#article:after{
	clear: both;
	display: table;
	content: " ";
}
#article h2{
	font-size: 1.3em;
	margin-bottom: 15px;
}
#article p{
	line-height: 150%;
	margin-bottom: 15px;
}
#new{
	height: 600px;
	font-family: Times New Roman, Verdana, Arial, Sans-Serif;
	padding: 2em;
	background-color: white;
	border-bottom: 1px solid rgb(209,196,233);
	border-top: 1px solid rgb(209,196,233);
	border-left: 1px solid rgb(209,196,233);
	border-right: 1px solid rgb(209,196,233);
}
#newin{
	font-family: Times New Roman, Verdana, Arial, Sans-Serif;
	font-size: 25px;
	padding: 2em;
	background-color: white;
	border-bottom: 1px solid rgb(209,196,233);
	border-top: 1px solid rgb(209,196,233);
	border-left: 1px solid rgb(209,196,233);
	border-right: 1px solid rgb(209,196,233);
}
#newin img{
	width: 300px;
}
#new img{
	height: 250px;
	}
#new p{
	margin-top: 2em;
}
#footer{
	float: bottom;
	border-top: 1px solid rgb(209,100,120);
	border-bottom: 1px solid rgb(209,100,120);
	padding: 1em;
	font-size: 0.8em;
	text-align: center;
	background-position: bottom;
	background-image: -webkit-linear-gradient(left, rgb(209,196,233), rgb(255, 255, 255));
}
#pages{
	border-top: 1px solid rgb(209,100,120);
	padding: 1em;
	font-size: 0.8em;
	text-align: center;
	background-position: bottom;
	background-color: rgb(209,196,233, 0.25);
}
#nav ul, #header h1, .wrapper, #footer p, .main{
	margin: 0 auto;
	max-height: 1200px;
}
.wrapper, #nav, #header, #footer, .main{
	min-width: 640px;
}
.main{
	background-image: -webkit-linear-gradient(top, rgb(209,196,233), rgb(255, 255, 255));
	background-size: auto;
}
@keyframes hovnew{
			from{
				background-color: white;
			}
			15%{
				background-color: rgb(209,196,233, 0.5);
			}
			to{
				background-color: white;			}
		}
		#new:hover{
			animation-timing-function: linear;
			animation-name: hovnew;
			animation-duration: 0.5s;
		}
@keyframes hovside1{
			from{
				background-color: rgb(209,196,233, 0.5);
			}
			to{
					background-color: rgb(209,196,233, 0);
			}
		}
		#sidebar1 li:hover{
			animation-timing-function: linear;
			animation-name: hovside1;
			animation-duration: 0.5s;